@import 'variables.scss';
@import 'typography.scss';

#quote-bg {
  // Positioning
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  // Display and Box model
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  // Typography
  // Other
  // filter: $grayscale;

  &.tag-general {
    // Positioning
    // Display and Box model
    background-image: url(../images/general.jpg);
    // Typography
    // Other
  }

  &.tag-attitude {
    // Positioning
    // Display and Box model
    background-image: url(../images/attitude.jpg);
    // Typography
    // Other
  }

  &.tag-beauty {
    // Positioning
    // Display and Box model
    background-image: url(../images/beauty.jpg);
    // Typography
    // Other
  }

  &.tag-best {
    // Positioning
    // Display and Box model
    background-image: url(../images/best.jpg);
    // Typography
    // Other
  }

  &.tag-marriage {
    // Positioning
    // Display and Box model
    background-image: url(../images/marriage.jpg);
    // Typography
    // Other
  }

  &.tag-medical {
    // Positioning
    // Display and Box model
    background-image: url(../images/medical.jpg);
    // Typography
    // Other
  }

  &.tag-men {
    // Positioning
    // Display and Box model
    background-image: url(../images/men.jpg);
    // Typography
    // Other
  }

  &.tag-mom {
    // Positioning
    // Display and Box model
    background-image: url(../images/mom.jpg);
    background-position: bottom left;
    // Typography
    // Other
  }

  &.tag-money {
    // Positioning
    // Display and Box model
    background-image: url(../images/money.jpg);
    // Typography
    // Other
  }

  &.tag-morning {
    // Positioning
    // Display and Box model
    background-image: url(../images/morning.jpg);
    // Typography
    // Other
  }

  &.tag-motivational {
    // Positioning
    // Display and Box model
    background-image: url(../images/motivational.jpg);
    // Typography
    // Other
  }

  &.tag-movies {
    // Positioning
    // Display and Box model
    background-image: url(../images/movies.jpg);
    // Typography
    // Other
  }

  &.tag-music {
    // Positioning
    // Display and Box model
    background-image: url(../images/music.jpg);
    // Typography
    // Other
  }

  &.tag-nature {
    // Positioning
    // Display and Box model
    background-image: url(../images/nature.jpg);
    // Typography
    // Other
  }

  &.tag-parenting {
    // Positioning
    // Display and Box model
    background-image: url(../images/parenting.jpg);
    // Typography
    // Other
  }

  &.tag-patience {
    // Positioning
    // Display and Box model
    background-image: url(../images/patience.jpg);
    background-position: bottom left;
    // Typography
    // Other
  }

  &.tag-patriotism {
    // Positioning
    // Display and Box model
    background-image: url(../images/patriotism.jpg);
    // Typography
    // Other
  }

  &.tag-peace {
    // Positioning
    // Display and Box model
    background-image: url(../images/peace.jpg);
    // Typography
    // Other
  }
}

#quote-box {
  // Positioning
  position: relative;
  // Display and Box model
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  max-width: 60vw;
  width: 60vw;
  // Typography
  color: $white-100;
  // Other

  figure {
    // Positioning
    // Display and Box model
    background-color: $black-70;
    border-radius: 0.25rem;
    padding: $fluid-padding;
    // Typography
    // Other
  }

  #text {
    // Positioning
    // Display and Box model
    margin-top: 0;
    // Typography
    // Other

    &.tag-general {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 300;
    }

    &.tag-attitude {
      font-family: "Julius Sans One", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-beauty {
      font-family: "Cormorant Garamond", serif;
      font-style: italic;
      font-weight: 700;
    }

    &.tag-best {
      font-family: "Arvo", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-marriage {
      font-family: "Eczar", serif;
      font-style: normal;
      font-weight: 600;
    }

    &.tag-medical {
      font-family: "Ruda", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-men {
      font-family: "Anton", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-mom {
      font-family: "Neuton", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-money {
      font-family: "Abril Fatface", cursive;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-morning {
      font-family: "Chivo", sans-serif;
      font-style: normal;
      font-weight: 300;
    }

    &.tag-motivational {
      font-family: "Vollkorn", serif;
      font-style: italic;
      font-weight: 400;
    }

    &.tag-movies {
      font-family: "Unica One", cursive;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-music {
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-weight: 700;
    }

    &.tag-nature {
      font-family: "Permanent Marker", cursive;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-parenting {
      font-family: "Varela Round", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-patience {
      font-family: "Patua One", cursive;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-patriotism {
      font-family: "Slabo 13px", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-peace {
      font-family: "Prata", serif;
      font-style: normal;
      font-weight: 400;
    }

  }

  #author {
    // Positioning
    // Display and Box model
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    // Typography
    // Other

    &.tag-general {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-attitude {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-beauty {
      font-family: "Fira Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-best {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-marriage {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-medical {
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: 400;
    }

    &.tag-men {
      font-family: "Signika", sans-serif;
      font-style: normal;
      font-weight: 300;
    }

    &.tag-mom {
      font-family: "Work Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-money {
      font-family: "Poppins", sans-serif;
      font-size: normal;
      font-weight: 300;
    }

    &.tag-morning {
      font-family: "Crimson Text", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-motivational {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 500;
    }

    &.tag-movies {
      font-family: "Crimson Text", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-music {
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-nature {
      font-family: "Overpass", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-parenting {
      font-family: "Noto Serif", serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-patience {
      font-family: "Maven Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-patriotism {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    &.tag-peace {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
    }
  }

  .buttons {
    // Positioning
    // Display and Box model
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-top: 2rem;
    // Typography
    // Other

    .social {
      // Positioning
      // Display and Box model
      display: flex;
      flex-direction: row;
      // Typography
      // Other
    }

    .button {
      // Positioning
      // Display and Box model
      align-items: center;
      background-color: $black-70;
      border-radius: 0.25rem;
      display: flex;
      flex-direction: column;
      height: 2rem;
      justify-content: center;
      // Typography
      color: $white-100;
      // Other

      &:hover {
        // Positioning
        // Display and Box model
        // Typography
        // Other
        cursor: pointer;
      }

      &#tweet-quote,
      &#tumblr-quote {
        // Positioning
        // Display and Box model
        margin-right: 1rem;
        padding: 0.25rem;
        width: 2rem;
        // Typography
        // Other
      }

      &#new-quote {
        // Positioning
        // Display and Box model
        padding: 0.25rem 1rem;
        // Typography
        font-family: $font-family-sans-serif;
        font-weight: 700;
        // Other
      }
    }
  }
}