
/*=====================*/
/* FUNCTIONS           */
/*=====================*/
/* Strip Unit */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/*=====================*/
/* VARIABLES           */
/*=====================*/
/* Colors */
$black-100: rgba(0 ,0 ,0, 1);
$white-100: rgba(255, 255, 255, 1);

/* Font sizes */
$minor-third: 1.200;
$perfect-fourth: 1.333;
$golden-ratio: 1.618;
$min-font-size: 1rem; /* 16px */
$preferred-font-size: calc((#{strip-unit($min-font-size)} / #{strip-unit(100vw)}) * 100  * 1vw); /* (absoluteSize / breakpoint) * 100% * 1unit (to get units) */
$max-font-size: 0.78125vw; /* (16px / 2048 * 100) */

/* Resolutions */
$small-devices: 20rem; /* 320 */
$medium-devices: 48rem;/* 768 */
$large-devices: 62rem; /* 992 */
$extra-large-devices: 75rem; /* 1200 */
$full-hd-width: 120rem; /* 1920 (Full HD) */
$two-k-width: 128rem; /* 2048 x 1080 (2k) */
$four-k-devices: 240rem; /* 3840 x 2160 (4k) */

/* Measurements */
$gap-width: 1.25rem; /* 20 px */
$column-width: 7.375rem; /* 118 px */
$fluid-padding: clamp(#{$gap-width}, 5%, calc(#{$column-width} + (#{$gap-width} / 2)));

/*=====================*/
/* BROWSER RESET       */
/*=====================*/
/* Universal Reset */
*,
*::before,
*::after {
  /* Positioning */
  /* Display and Box Model */
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Typography */
  /* Other */
}

/* Links*/
a, ins {
  /* Positioning */
  /* Display and Box Model */
  /* Typography */
  text-decoration: none;
  /* Other */
}

/* Block Quotes */
blockquote {
  /* Positioning */
  /* Display and Box Model */
  /* Typography */
  quotes: "“" "”" "‘" "’";
  text-indent: -0.45em;
  /* Other */

  &::after {
    content: close-quote;
    display: inline-block;
    padding-left: 0.65em;
    position: absolute;
  }

  &::before {
    content: open-quote;
  }
}
@supports ( hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

/* HTML */
html {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  word-break: break-word;
  /* Other */
  scroll-behavior: smooth;

  /* System theme color changes */
  @media (prefers-color-scheme: no-preference) {
    body {
      background: $white-100;
      color: $black-100;
    }
  }
  @media (prefers-color-scheme: light) {
    body {
      background: $white-100;
      color: $black-100;
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: $black-100;
      color: $white-100;
    }
  }
}

/*=====================*/
/* TYPOGRAPHY          */
/*=====================*/
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/* Font-Families */
$font-family-sans-serif: "Lato", Arial, sans-serif;

/* Fluid Typography */
html {
  /* Positioning */
  /* Display and Box model */
  /* Typography */
  font-size: 100%;
  font-size: clamp(#{$min-font-size}, #{$preferred-font-size}, #{$max-font-size});
  /* Other */

  body {
    /* Positioning */
    /* Display and Box model */
    /* Typography */
    font-family: $font-family-sans-serif;
    font-weight: 400;
    line-height: 1.75;
    /* Other */

    blockquote {
      /* Positioning */
      /* Display and Box model */
      margin: 3rem 0 1.38rem;
      /* Typography */
      font-family: $font-family-sans-serif;
      font-size:
        clamp(
          calc(#{$minor-third} * #{$minor-third} * #{$minor-third} * #{$minor-third} * #{$minor-third} * 1rem),
          calc(#{strip-unit($perfect-fourth * $perfect-fourth * $perfect-fourth * $perfect-fourth * $perfect-fourth)} * #{strip-unit(1rem)} / #{strip-unit(100vw)} * 100  * 1vw),
          calc(#{$golden-ratio} * #{$golden-ratio} * #{$golden-ratio} * #{$golden-ratio} * #{$golden-ratio} * 1rem)
        );
        font-weight: 400;
        line-height: 1.3;
        /* Other */
    }

    figcaption {
      /* Positioning */
      /* Display and Box model */
      margin-bottom: 1rem;
      /* Typography */
      /* Other */
    }
  }
}

